<div class="center hero-unit">
  <h1>BUZY</h1>

  <h2>
  	Welcome to BUZY - the place to go when you want to know what's busy and whats buzzing on campus
  </h2>

  <%= link_to "Places", '/places', class: "btn btn-large btn-primary" %> <%= link_to "Vote", '/vote', class: "btn btn-large btn-primary" %>
</div>

