@import "bootstrap";

/* Universal */

html {
	overflow-y: scroll;
}

body {
  font: 400 15px/24px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #4c5058;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  max-width: 1600px;
 background-color:black;
}



// body {
// 	padding-top: 60px;
//   background-size: 100%;
//   background-color:464646;
// 	//background-image:url('AgganisArena.jpg');
// }

section {
	overflow: auto;
}
textarea {
	resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
	color:#fff;
	
  }
}
.hero-unit h1 {
  width: 50%;
   margin-left:auto;
  margin-right:auto;
  }

#content {
    width:100%;
    max-width:800px;
    margin:0 auto;
    text-align:center;
}
.box {

    display: inline-block;
    height: 170px;
    width: 170px;
    margin:10px;
    background-color:blue;
}


/* Typography */

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}

h1 {
	background-color: rgba(187, 29, 29, 0.5);;
	font-size: 3em;
	color:#fff;
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;
}

h2 {
	font-size: 1.2em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color: #fff;
}

p {
	font-size: 1.1em;
	line-height: 1.7em;
}

form {
  padding: 30px;
  margin: 0 0 20px; 
  background-color: rgba(40, 44, 42, 0.8);
  color: #fff;
  border-solid: 20px;
  }
  
p {
  font-size: 1.1em;
  line-height: 1.7em; 
  color: white;
  background-color: rgba(40, 44, 42, 0.8)}
  
  a {
  color: #0088cc;
  text-decoration: none; 
  }

  
  .btn.btn-large {
    *padding-top: 7px;
    *padding-bottom: 7px;
	*padding-left: 20px;
	}


/* Header */
.hero-unit{
background: rgba(0, 0, 0, 0.5);
margin-left: 60px;
margin-right: 60px;
margin-bottom: 30px;
margin-top: 10px;
}

.navbar .container {
  width: 95%;
}

.navbar {
  .navbar-inner {
    background-color: #CC0000;
    background-image: none;
    border-color: #ffffff;
  }
  .navbar-text {
    color: #fff;
  }
  .brand {
    color: #fff;
  }
  .nav {
    color: #fff;
  }
}

.navbar-inverse .nav > li > a {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); }
  .navbar-inverse .brand:hover, .navbar-inverse .brand:focus,
  .navbar-inverse .nav > li > a:hover,
  .navbar-inverse .nav > li > a:focus {
    color: white; }
.navbar-inverse .brand {
  color: #fff; }
.navbar-inverse .navbar-text {
  color: #fff; }
.navbar-inverse .nav > li > a:focus,
.navbar-inverse .nav > li > a:hover {
  background-color: transparent;
  color: white; }
.navbar-inverse .nav .active > a,
.navbar-inverse .nav .active > a:hover,
.navbar-inverse .nav .active > a:focus {
  color: white;
  background-color: #111111; }
.navbar-inverse .navbar-link {
  color: #fff; }
  .navbar-inverse .navbar-link:hover, .navbar-inverse .navbar-link:focus {
    color: white; }


#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: $grayLight;
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.offset3 {
  margin: auto;
  float: center;
  width: 33%; }

.gravatar {
  float: left;
  margin-right: 10px;
}

.row{
  margin: auto;
}
/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}
// //////////////////////////////////////////////////////////////////

#companies .company-wrapper-outer {
  background-image: rgba(0,0,0, .2);
  width: 247px;
  height: 190px;
  display: inline-block;
  margin:10px;
  padding: 0 15px;
  border: none;
  text-align: center;
}
#companies .company-wrapper-outer:last-child{
  background-color: rgba(255,255,255, .2);
}
#companies .company-wrapper-inner {
  display: table-cell;
  vertical-align: middle;
  height: 180px;
  width: 247px !important;
  border: none;
}

#companies a, #companies>div {
  height: 100%;
}
#companies img {

  width:90%;


}
/* Panel Styling and Positioning */

.panel {
  color: #eee;
  margin-right: auto;
  margin-left: auto;
  padding: 10px;
  width: 100%;
  max-width: 1000px;
}
.column-left{ 
  width: 33%;
  float: left;

}
.column-right{ 
  width: 33%;
  float: right;

}
.column-center{ 
  width: 33%;
  float: left;
}

.parent {
    font-size: 0;
}
.content {
  background: rgba(0,0,0,0.8);
  border-radius: 3px;
  margin:20px;
}

#companies .content {
  text-align:center;
  padding:20px;
}

.content h3 {
  height: 100%;
  margin: 0 0.2em;
  text-align: justify;
}

.companies-title {
  margin: 0 0 0.4em 0;
  padding-bottom: 20px;
}

/*Avoid overflow on very small screens*/

@media only screen and (max-width: 685px) {
  .panel {
    max-width:100%;
    width:100% !important;
    position: relative;
    padding: 0;
    text-align: center !important;
    left:0;
  }
  .left, .right {
    height: 175px;
    text-align: center;
    width: 100%;
  }
  .left {
    display: block;
  }
  .right {
    width: 100%;
  }

  #companies > .content {
    padding-left: 0;
    padding-right: 0;
  }
  .detail {
    margin: 0 auto;
    width: 175px;
  }
}
@media only screen and (max-width: 760px) {
  .right {
    width: 45%;
  }
}
@media only screen and (max-width: 500px) {
  .company-wrapper-outer, .company-wrapper-inner, .company-image {
    width: 80% !important;
  }
}
@media only screen and (max-width: 1000px) {
  .panel {
    padding: 0;
  }
}