@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import "variables";

/* Universal */

html {
	overflow-y: scroll;
}

body {
	padding-top: 60px;
  font-family:'Open Sans',arial,sans-serif;
  white-space:0!important;
  word-wrap:break-word;
}

 body {
 	padding-top: 60px;
  background-size: 100%;
}

section {
	overflow: auto;
}
textarea {
	resize: vertical;
}

.center {
  text-align: center;
  h1#title {
    color: $red-accent;
  }
}

.hero-unit h1 {
  width: 50%;
   margin-left:auto;
  margin-right:auto;
  }

#content {
    width:100%;
    max-width:800px;
    margin:0 auto;
    text-align:center;
}
.box {

    display: inline-block;
    height: 170px;
    width: 170px;
    margin:10px;
    background-color:blue;
}


/* Typography */

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
  letter-spacing: none;
  margin-bottom: 1em;
  font-weight: normal;
}


p {
	line-height: 1.7em;
}

form {
  padding: 30px;
  margin: 0 0 20px; 
  border-solid: 20px;
  }
  
p {
  color: white;
  background-color: rgba(40, 44, 42, 0.8)}
  
  a, h1 a:hover {
    text-decoration: none; 
  }

  
  .btn.btn-large {
    *padding-top: 7px;
    *padding-bottom: 7px;
	*padding-left: 20px;
	}


/* Header */
.hero-unit{
  background-color: transparent;

}

.navbar .container {
  width: 95%;
}

.navbar {
  .navbar-inner {
    background-color: #CC0000;
    background-image: none;
    border: none;
  }
  .navbar-text {
    color: #fff;
  }
  .brand {
    color: #fff;
  }
  .nav {
    color: #fff;
  }
}

.btn {
  background-image: none;
  background-color: none;
}

.btn-primary {
  background-color: $blue-accent;
}

.btn-primary:hover {
  background-color: $dark-blue-accent;
}

.navbar-inverse .nav > li > a {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); }
  .navbar-inverse .brand:hover, .navbar-inverse .brand:focus,
  .navbar-inverse .nav > li > a:hover,
  .navbar-inverse .nav > li > a:focus {
    color: white; }
.navbar-inverse .brand {
  color: #fff; }
.navbar-inverse .navbar-text {
  color: #fff; }
.navbar-inverse .nav > li > a:focus,
.navbar-inverse .nav > li > a:hover {
  background-color: transparent;
  color: white; }
.navbar-inverse .nav .active > a,
.navbar-inverse .nav .active > a:hover,
.navbar-inverse .nav .active > a:focus {
  color: white;
  background-color: #111111; }
.navbar-inverse .navbar-link {
  color: #fff; }
  .navbar-inverse .navbar-link:hover, .navbar-inverse .navbar-link:focus {
    color: white; }


#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: $grayLight;
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.offset3 {
  margin: auto;
  float: center;
  width: 33%; }

.gravatar {
  float: left;
  margin-right: 10px;
}

.row{
  margin: auto;
}
/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}
