// Place all the styles related to the Places controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";

#places {
	display: table;
}

#places .place {
	color: white;
	padding: 10px;
	background-color: $red-accent;
	float: left;
	margin: 5px;
	@include rounded;
}