// Place all the styles related to the Places controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";

#places {
	position: relative;
	float: none;
	margin-bottom: 10px;
	text-align: center;
}

#places .place {
	color: white;
	padding: 10px;
	background-color: $red-accent;
	display: inline-block;
	margin: 5px;
	@include rounded;
}