$red-accent: #CC0000;
$green-accent: #a7df38;
$dark-green-accent: #7fbe00;
$blue-accent: #1485CC;
$dark-blue-accent: #0971B2;

@mixin rounded {
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
      -ms-border-radius: 4px;
          border-radius: 4px;
}