<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<h1>The Locations:</h1>

<% @places.each do |place| %>
	<a href="\places/<%= place.id %>/60">
		<div id="places">
			<div class="place">
				<%= place.name%>
			</div>
		</div>
	</a>
<% end %>

<div class="center hero-unit">
	<%= link_to "add a place", '/places/new', class: "btn btn-large btn-primary" %> 
</div>