<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<h1>The Locations:</h1>

<% @places.each do |place| %>
	<div class="panel" id="companies">
		<div class="content">
			<h4 class="companies-title"></h4>
			<a href="\places/<%= place.id %>/60">
			<div class="company-wrapper-outer">
					<div class="company-wrapper-inner">
						<%= place.name%>
					</div>
			</div>
			</a>
		</div>
	</div>
<% end %>

<div class="center hero-unit">
	<%= link_to "add a place", '/places/new', class: "btn btn-large btn-primary" %> 
</div>