<% provide(:title, 'Add a Location') %>
<h1>The Locations:</h1>

<div id="places-list">
<% @places.each do |place| %>
	<a href="\places/<%= place.id %>/60">
	<div class="rounded place">
		<%= place.name%>
	</div>
	</a>
<% end %>
</div>

