<!-- display place names, display each vote for the place -->
<center>
<h1><%= @place.name %></h1>
<h2>All votes</h2>
<% Vote.all.each do |vote| %>
	<li>place <%= vote.place_id %> got a <%= vote.score %></li>
<% end %>

<% if @place.votes.blank? %>
	<h2>this place doesn't have any votes!</h2>
<% else %>
	<h2>this place has votes!</h2>
	<% @place.votes.each do |vote| %>
		<%= vote.score %>
	<% end %>
<% end %>
</center>