<!-- display place names, display each vote for the place -->
<center>
<h1><%= @place.name %></h1>
<% if @place.votes.blank? %>
	<h2>this place doesn't have any votes!</h2>
<% else %>
	<h2>this place has votes!</h2>
	<% @place.votes.each do |vote| %>
		<li><%= vote.score %></li>
	<% end %>
	<h2>busynes score</h2>
	<h1 style = "color:<%= @color %>;"><%= @score %></h1>
<% end %>
</center>